<div class="body-container">
  <section class="body__section body__section__download">
    <div class="download__content-container">
      <h2 class="download__content-header">
        Experience a<br />
        better way to<br />manage money
      </h2>
      <p class="download__content-paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus
        ab voluptate magni eos earum quibusdam vitae quod numquam! Ratione.
      </p>
      <button class="download__content-btn">Sign in to Lint</button>
      <img
        class="app-store-img"
        src="assets/Images/app-store.png"
        alt="App Store"
      />
      <img
        class="google-play-img"
        src="assets/Images/google-play.png"
        alt="Google Play"
      />
    </div>
    <div class="download__image-container">
      <img src="assets/Images/iphone-mockup.png" alt="Lint on iPhone" />
    </div>
  </section>
  <section class="body__section lint__bg__section">
    <h4 class="lint__bg__section__catch">
      <i class="fas fa-check-circle"></i>Never downloaded personal finance app
    </h4>
    <h4 class="lint__bg__section__catch">
      <i class="fas fa-check-circle"></i>100% Free
    </h4>
  </section>
  <section class="body__section section__demo">
    <div class="section__info-container">
      <h3 class="section__info-header">Plan your<br />spending</h3>
      <i class="fad fa-mobile"></i>
    </div>
  </section>
  <section class="body__section section__call__to__action">
    <div class="call__to__action-container">
      <h3 class="call__to__action-header">Sign up today</h3>
      <p class="call__to__cation-para">Lorem ipsum dolor sit amet.</p>
      <a href="" class="call__to__action__btn"> Sign in to Lint </a>
    </div>
  </section>
</div>
