<div class="sign__in-container">
  <div class="sign__in-body">
    <form #loginform="ngForm" class="sign__in-form">
      <label for="username"><i class="fas fa-user"></i>Enter your email</label>
      <input class="username" type="email" name="username" />
      <label for="username"
        ><i class="fas fa-lock-alt"></i>Enter your password</label
      >
      <input class="password" type="password" name="password" />
      <button class="sign__in-btn">
        <i class="fas fa-lock-alt"></i>Sign in
      </button>
    </form>
  </div>
</div>
