<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body>
    <div class="page-wrapper">
      <app-header *ngIf="_router.url != '/users'"></app-header>
      <app-header-user-dashboard
        *ngIf="_router.url === '/users'"
      ></app-header-user-dashboard>
      <router-outlet></router-outlet>
      <app-account *ngIf="_router.url === '/users'"></app-account
      ><app-bills *ngIf="_router.url === '/users'"></app-bills>
      <app-transactions *ngIf="_router.url === '/users'"></app-transactions>
      <app-body
        *ngIf="_router.url != '/signin' && _router.url != '/users'"
      ></app-body>

      <app-footer *ngIf="_router.url != '/signin'"></app-footer>
    </div>
  </body>
</html>
