<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="header-container">
        <header class="header">
          <nav class="navbar">
            <div class="logo-container">
              <a href="/"
                ><img
                  class="logo"
                  src="assets/Images/logo.png"
                  alt="coming soon"
                  class="logo"
              /></a>
            </div>
            <ul class="navbar__list">
              <li class="navbar__list__item">
                <a (click)="setDocTitle('Sign In')" routerLink="/signin">
                  <i class="fas fa-lock-alt"></i>Sign in</a
                >
              </li>
            </ul>
          </nav>
        </header>
      </div>

      <router-outlet></router-outlet>

      <app-body *ngIf="_router.url != '/signin'"></app-body>
      <!-- <app-signin *ngIf="!showMe && !signedIn"></app-signin> -->
      <app-footer
        [ngClass]="{ footer__bottom: location === '/signin' }"
      ></app-footer>
    </div>
  </body>
</html>
