$lint-blue: rgba(0, 166, 164, 1);
$lint-dark-blue: rgba(52, 43, 80, 1);
$lint-light-blue: rgba(223, 253, 245, 1);
$lint-green: rgba(0, 205, 169, 1);
$lint-grey: rgba(244, 245, 248, 1);
$primary-blue: rgba(0, 119, 197, 1);
$primary-blue-light: rgba(0, 119, 197, 0.7);
